S3method("print","CA3variants")
S3method("plot","CA3variants")
import(methods,tools,ggplot2,ggrepel,gridExtra,multichull)
importFrom("grDevices", "dev.new")
importFrom("multichull","CHull")
importFrom("stats","rmultinom","rpois")
importFrom("graphics", "abline", "arrows", "legend", "lines", "par",
     "plot", "plot.new", "points", "text", "title")
     importFrom("stats", "pchisq", "qchisq")
importFrom("ggplot2","ggplot")
importFrom("gridExtra","grid.arrange")
exportPattern("^[[:alpha:]]+")
#exportClasses("cabasicresults")
#export(
#"CAvariants",
#"plot.CAvariants",
#"summary.CAvariants",
#"print.CAvariants"
#)